$primary-color: #17AD49;

// Defaults
$default-font-size: 16px;
$default-text-color: #00291B;
$default-secondary-text-color: #788E86;
$default-bg: #fff;
$default-border-color: #879A94;
$default-border-size: 1px;
$default-spacing: 16px;

// Header styles
$header-min-height: 76px;
$header-bg: #333333;
$header-padding: 18px 16px;
$header-nav-button-padding: 8px;
$header-text-color: #DDDDDD;
$header-font-size: $default-font-size;
$header-line-height: 38px;
$header-profile-text-color: #2FC7E2;

// Sider
$sider-width: 354px;